<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>在线书城-404错误</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/main.min.css" rel="stylesheet"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'/>
</head>
<body>


<div id="wrapper">
    <div id="page-content-wrapper" class="st-pusher">
        <div class="st-pusher-after"></div>
        <!-- ============================================== HEADER ============================================== -->
        <div th:replace="header :: header"></div>
        <!-- ============================================== HEADER : END ============================================== -->

        <section class="inner-md">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 center-block">
                            <div class="row info-404">
                                <div class="col-md-6 col-sm-6">
                                    <h1 class="title">404</h1>
                                </div>
                                <div class="col-md-6 col-sm-6 right-info inner-top-md">
                                    <h2 class="sub-title">error</h2>
                                    <p><a href="/index">&rarr;&nbsp;回到主页</a></p>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </section>

        <!-- ============================================== FOOTER ============================================== -->
        <div th:replace="footer :: footer"></div>
        <!-- ============================================== FOOTER : END ============================================== -->
    </div><!-- /.st-pusher -->

</div><!-- /#wrapper -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/perfect-scrollbar.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/jquery.customSelect.min.js"></script>
<script src="assets/js/jquery.easing-1.3.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/echo.min.js"></script>
<script src="assets/js/scripts.js"></script>

</body>
</html>
